.messagecard-wrapper {
  padding: 1em;
  width: 70vw;
  margin-bottom: 1em;
  background-color: azure;
  border-radius: 1em;
}

.icon-area {
  width: 6%;
}

.content-area {
  width: 90%;
  display: flex;
}

.message-area {
  margin-left: 20px;
  color: gray;
}

.message-area p {
  margin-top: 0.6em;
}
