.TkLogin-wrapper {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.takuma {
  font-size: 2rem;
  color: blue;
  cursor: pointer;
}

.Tkloginmain {
  width: 100vw;
  height: 100vh;
  background-color: beige;

}

